.color1{
            background-color: #ff1d25;
          }
.color2{
            background-color: #f4212d;
          }
.color3{
            background-color: #ea2535;
          }
.color4{
            background-color: #df2a3d;
          }
.color5{
            background-color: #d52e45;
          }
.color6{
            background-color: #ca324d;
          }
.color7{
            background-color: #bf3655;
          }
.color8{
            background-color: #b53a5d;
          }
.color9{
            background-color: #aa3f65;
          }
.color10{
            background-color: #9f436d;
          }
.color11{
            background-color: #954775;
          }
.color12{
            background-color: #8a4b7d;
          }
.color13{
            background-color: #805086;
          }
.color14{
            background-color: #75548e;
          }
.color15{
            background-color: #6a5896;
          }
.color16{
            background-color: #605c9e;
          }
.color17{
            background-color: #5560a6;
          }
.color18{
            background-color: #4a65ae;
          }
.color19{
            background-color: #4069b6;
          }
.color20{
            background-color: #356dbe;
          }
.color21{
            background-color: #2b71c6;
          }
.color22{
            background-color: #2075ce;
          }
.color23{
            background-color: #157ad6;
          }
.color24{
            background-color: #0b7ede;
          }
.color25{
            background-color: #0082e6;
          }
